body {
  overflow-x: hidden;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vh; /* ruotato: serve usare l'altezza della viewport */
  height: 100vw; /* ruotato: serve usare la larghezza della viewport */
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  object-fit: cover;
  opacity: 0.7;
  z-index: 0;
}

.section {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.1); /* Semitrasparente */
  color: #0D47A1;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.title {
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transform: scale(1);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  margin-bottom: 1rem;

  font-weight: 700;
  font-size: 3rem;
}

.subtitle {
  transform: scale(1);
  transition: all 3.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  margin-bottom: 1rem;

  font-style: italic;
  color: #CD5B43;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
}

.section.in-page .title,
.section.in-page .subtitle {
  transform: scale(1.2);
  opacity: 1;
}

.section .subtitle {
  margin: 0;
  font-weight: normal;
  color: #555;
  text-align: center;
}

.section.in-page .title {
  transform: scale(1.2);

  opacity: 1;
}

.panel {
  background-color: #f8f8f2;
  padding: 2rem 1rem;
  position: relative;
  z-index: 2;
}

.panel-header {
  max-width: 700px;
  margin: 0 auto 1rem auto;
}

.panel-header h2 {
  color: #0D47A1;
  margin-top: 30px;
}

.panel-header h4 {
  margin-bottom: 50px; 
  margin-top: 0px;
  font-size: 22px;
}

/* Navbar: modifica del coloro delle voci menu */
.nav-link {
  color: #FDF5E6;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #CD5B43;
}

/******* GESTIONE MENU STICKY ********/
/* Navbar: stile di partenza */
.custom-navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1030; /* sopra gli altri */
  position: relative; /* di default */
  background-color: transparent !important;
}

.custom-navbar.sticky {
  position: fixed;   /* rende la navbar fissa in cima */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0D47A1 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.custom-navbar.sticky .navbar-nav .nav-link,
.custom-navbar.sticky .navbar-brand {
  color: #FDF5E6 !important;
  font-weight: 600;
}

.custom-navbar.sticky .navbar-nav .nav-link:hover {
  color: #E4E1B6 !important;
}


/********  STYLE AROUSEL  ********/
.carousel-indicators {
  position: static; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;
}

.carousel-indicators button[type="button"] {
  background-color: #0D47A1 !important;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  border: none !important;
  transition: opacity 0.3s ease;
}

.carousel-indicators .active {
  opacity: 1 !important;
}

.carousel-indicators button[type="button"]:hover {
  opacity: 1 !important;
}

.btn {
  background-color: #0D47A1 !important;
}


/****** SEZIONE CON SFONDO ********/
.bg-image {
  background-image: url('https://a.storyblok.com/f/320069/2716x739/4eae11b673/energy-blue-with-stroke-background.svg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
  min-height: 500px;
}

.panel .card {
  min-height: 350px;
}

div .bg-image {
  margin-top: 150px;
}
