/*** BUTTON DELLA VIEW ***/
.btn-primary {
    background-color: #0D47A1 !important;
    transition: transform 0.3s ease;
}

.btn-danger {
    background-color: #a10d19 !important;
    transition: transform 0.3s ease;
}
  
.btn-primary:hover,
.btn-danger:hover {
    color: #E4E1B6;
    transform: scale(1.05);   /* => Ingrandisce del 5% */
    transition: transform 0.3s ease;
}